apiVersion: apps/v1
kind: Deployment
metadata:
  name: entitlements
  namespace: lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: entitlements
  template:
    metadata:
      labels:
        app: entitlements
    spec:
      serviceAccountName: entitlements
      volumes:
      - name: config
        configMap:
          name: entitlements-config
      - name: spiffe-workload-api
        csi:
          driver: csi.spiffe.io
          readOnly: true
      containers:
      - name: entitlements
        image: entitlements:local
        imagePullPolicy: IfNotPresent
        env:
        - name: PORT
          value: "8083"
        ports:
        - containerPort: 8083
      - name: envoy
        image: envoyproxy/envoy:v1.28.2
        imagePullPolicy: IfNotPresent
        args:
        - -c
        - /etc/envoy/envoy.yaml
        - --log-level
        - info
        ports:
        - containerPort: 8080
        - containerPort: 9901
        volumeMounts:
        - name: config
          mountPath: /etc/envoy/envoy.yaml
          subPath: envoy.yaml
        - name: spiffe-workload-api
          mountPath: /spiffe-workload-api
